<div class="mt-3">
  <%= form_for item, html: {class:'dropzone', id: "item-dropzone"} do |f| %>
    <div class="dz-message needsclick">
      ドラッグ&ドロップで画像をアップロード
    </div>
    <div class="fallback">
      <%= f.attachment_field :item_image, class: "form-file-input", placeholder: "item_image" %>
      <%= f.submit 'upload the image' %>
    </div>
  <% end %>
</div>