.item{
  background-color: #d3d3d3;
  border-style: hidden;
  border-radius: 8px;
}

iframe {
  margin-left: 10px;
  margin: 10px;
}

.grid {
   margin: 0 auto;
}

.movie-flame{
  background-image: url('woodwall.jpeg');
  background-size: cover;
  width: 585px;
  border-style: hidden;
  border-radius: 8px;
}

.menu{
  // position: absolute;
    bottom: 20px;
    right: 20px;
}